

<form th:fragment="formulario" method="post" action="recibe-parametros" th:object="${formulario}">
    <h1 th:text="${titulo}"></h1> <!-- Título que muestra si es Original o Repintado -->
    <div th:if="${errores}">
        <h3 class="error" th:text="#{aviso_errores}"></h3>
    </div>
    <div th:unless="${errores}">
        <h3 class="allegri" th:text="#{aviso_sinErrores}"></h3>
    </div>
    <div th:if="${#fields.hasErrors('global')}">
        <h3 th:text="#{aviso_erroresGlobales}"></h3>
        <p th:each="error : ${#fields.errors('global')}" th:text="${error}" class="error" />
    </div>
    <!-- Mostrar iteraciones -->
    <p th:text="'Iteración: ' + ${iteraciones}"></p>
    <fieldset>
        <legend th:text="#{etiqueta_form}"></legend>
        <label class="requiere" for="usuario" th:text="#{etiqueta_usuario}"></label>
        <input type="text" th:field="*{usuario}">
        <div th:errors="*{usuario}" class="error"></div>
        <br><br>

        <!-- Campo de contraseña -->
        <label class="requiere" for="clave" th:text="#{etiqueta_clave}"></label>
        <input type="password"  th:field="*{clave}">
        <div th:errors="*{clave}" class="error"></div>

        <br><br>

        <label class="requiere" for="confirmarClave" th:text="#{etiqueta_confirmarClave}"></label>
        <input type="password"  th:field="*{confirmarClave}">


        <input type="button" th:value="#{etiqueta_botonClaves}" onclick="botonClave()">
        <div th:errors="*{confirmarClave}" class="error"></div>
        <br><br>
        <input type="hidden" id="iteraciones" name="iteraciones" th:value="${iteraciones}">

        <!-- Botones de radio -->
        <label class="requiere" th:text="#{etiqueta_genero}"></label>
        <input type="radio" id="masculino" name="genero_seleccionado"
               th:each="genero:${generos}"
               th:text="${genero.value}"
               th:value="${genero.key}"
               th:field="*{generoSeleccionado}">

        <input type="button"
                th:value="#{etiqueta_botonGeneros}"
                th:onclick="|if (confirm('#{etiqueta_botonGenerosConfirmar}')) botonGeneros();|">

        <div th:errors="*{generoSeleccionado}" class="error"></div>

        <br><br>

        <label class="requiere" for="fechaNacimiento" th:text="#{etiqueta_fechaNacimiento}"></label>
        <input type="text" th:field="*{fechaNacimiento}">
        <div th:errors="*{fechaNacimiento}" class="error"></div>

        <br><br>

        <label class="especial" for="edad" th:text="#{etiqueta_edad}"></label>
        <input type="text" th:field="*{edad}">
        <div th:errors="*{edad}" class="error"></div>

        <br><br>

        <label class="requiere" for="peso" th:text="#{etiqueta_peso}"></label>
        <input type="text" th:field="*{peso}">
        <div th:errors="*{peso}" class="error"></div>

        <br><br>

        <label class="especial" for="prefijoTelefonico" th:text="#{etiqueta_prefijoTelefonico}"></label>
        <select th:field="*{prefijoTelefonico}">
            <option th:each="pais: ${paises}" th:text="${pais.value.getPrefijoTelefonicoPais()}"
                    th:value="${pais.value.getPrefijoTelefonicoPais()}"
                    th:selected="${pais.value.getPrefijoTelefonicoPais()}"></option>
        </select>
        <div th:errors="*{prefijoTelefonico}" class="error"></div>

        <br><br>

        <label class="especial" for="telefono" th:text="#{etiqueta_telefono}"></label>
        <input type="text" th:field="*{telefono}">
        <div th:errors="*{telefono}" class="error"></div>

        <br><br>

        <label class="especial" for="email" th:text="#{etiqueta_email}"></label>
        <input type="text" th:field="*{email}">
        <div th:errors="*{email}" class="error"></div>

        <br><br>

        <label for="url" th:text="#{etiqueta_URL}"></label>
        <input type="text" th:field="*{url}">
        <div th:errors="*{url}" class="error"></div>

        <br><br>

        <label class="requiere" for="pais" th:text="#{etiqueta_pais}"></label>
        <select  name="pais_seleccionado" th:field="*{paisSeleccionado}">
            <option th:each="pais:${paises}"
                    th:value="${pais.key}"
                    th:text="${pais.value.getPais()}">

            </option>
        </select>
        <div th:errors="*{paisSeleccionado}" class="error"></div>

        <br><br>

        <label for="musicas" th:text="#{etiqueta_musica}"></label>
        <select multiple="multiple"  th:field="*{musicasSeleccionadas}">
            <option th:each="musica:${musicas}"
                    th:value="${musica.key}"
                    th:text="${musica.value}">
            </option>
        </select>
        <div th:errors="*{musicasSeleccionadas}" class="error"></div>

        <input type="button"
                th:value="#{etiqueta_botonMusicasDes}"
                th:onclick="|if (confirm('#{etiqueta_botonMusicasConfirmarDes}')) botonMusicasDes();|">
        <input type="button"
                th:value="#{etiqueta_botonMusicasSel}"
                th:onclick="|if (confirm('#{etiqueta_botonMusicasConfirmarSel}')) botonMusicasSel();|">

        <br><br>

        <!-- Casillas de verificación -->
        <label th:text="#{etiqueta_aficiones}"></label>
        <input type="checkbox"
               th:each="aficion:${aficiones}"
               th:text="${aficion.value}"
               th:value="${aficion.key}"
               th:field="*{aficionesSeleccionadas}">
        <div th:errors="*{aficionesSeleccionadas}" class="error"></div>

        <input type="button"
               th:value="#{etiqueta_botonAficionesDes}"
               th:onclick="|if (confirm('#{etiqueta_botonAficionesConfirmarDes}')) botonAficionesDes();|">
        <input type="button"
               th:value="#{etiqueta_botonAficionesSel}"
               th:onclick="|if (confirm('#{etiqueta_botonAficionesConfirmarSel}')) botonAficionesSel();|">

        <br><br>

        <!-- Campo de carga de archivo
        <label for="archivo" th:text="#{etiqueta_archivo}"></label>
        <input type="file" id="archivo" name="archivo">
        <br>
        <span th:text="${nombreArchivo}">No se ha seleccionado ningún archivo</span>

        <br><br>
        -->
        <!-- Área de texto -->
        <label for="comentarios" th:text="#{etiqueta_comentarios}"></label>
        <textarea  th:field="*{comentarios}" rows="4" cols="50"></textarea>
        <div th:errors="*{aficionesSeleccionadas}" class="error"></div>

        <br><br>

        <label for="licencia" th:text="#{etiqueta_licencia}"></label>
        <input type="checkbox"  th:field="*{licencia}" ></input>
        <div th:errors="*{licencia}" class="error"></div>

        <br>
        <input type="button"
               th:value="#{etiqueta_botonVaciado}"
               th:onclick="|if (confirm('#{etiqueta_botonVaciadoConfirmarSel}')) vaciado();|">
        <br>

        <!-- Botón de envío -->
        <input type="submit" th:value="#{etiqueta_submit}">
        <input type="reset" th:value="#{etiqueta_reset}">

        <br><br>
        <!-- Botón de tipo submit con imagen -->
        <button type="submit">
            <input type="image" src="/img/Flecha_tesela.svg.png"  width="50" height="50">
        </button>
    </fieldset>
    <p th:text="'Se han recibido ' + ${contadorParametrosRecibidos} + ' parámetros desde el formulario ' + ${titulo}"></p>
    </form>
