<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <form method="post" action="recibe-parametros">
    <fieldset>
        <legend>Formulario</legend>
        <label for="nombre">Nombre:</label>
        <input type="text" id="usuario" name="usuario" th:value="${usuario}">
        <br><br>

        <!-- Campo de contraseña -->
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="clave" name="clave" th:value="${clave}">
        <br><br>
        <input type="hidden" id="iteraciones" name="iteraciones">

        <!-- Botones de radio -->
        <label>Género:</label>
        <input type="radio" id="masculino" th:each="genero:${generos}" th:text="${genero.value}" th:value="${genero.key}">
        <br><br>

        <!-- Casillas de verificación -->
        <label>Aficiones:</label>
        <input type="checkbox" name="aficiones" th:each="aficion:${aficiones}" th:text="${aficion.value}" th:value="${aficion.key}">

        <br><br>

        <label for="pais">País:</label>
        <select  name="paisSel" id="paisSel">
            <option th:each="pais:${paises}"  th:value="${pais.key}" th:text="${pais.value}">

            </option>
        </select>

        <br><br>

        <label for="musicas">Musicas:</label>
        <select multiple="multiple"  name="musicasSel" id="musicasSel">
            <option th:each="musica:${musicas}"  th:value="${musica.key}" th:text="${musica.value}">

            </option>
        </select>

        <br><br>
        <!-- Área de texto -->
        <label for="comentarios">Comentarios:</label>
        <textarea id="comentarios" name="comentarios" th:text="${comentarios}" rows="4" cols="50"></textarea>
        <br><br>

        <!-- Botón de envío -->
        <input type="submit" value="Enviar">
    </fieldset>
    </form>
</body>
</html>