
<body>
<div>
    <h3>SECCIÓN SUPERIOR</h3>
    <table border="1">
        <tr>
            <td th:text="#{direccion}"></td>
            <td th:text="${direccionIp}">[dirección_ip]</td>
        </tr>
        <tr>
            <td th:text="#{navegator}"></td>
            <td th:text="${navegador}">[navegador]</td>
        </tr>
        <tr>
            <td th:text="#{so}"></td>
            <td th:text="${sistemaOperativo}">[sistema_operativo]</td>
        </tr>
        <tr>
            <td th:text="#{motor}"></td>
            <td th:text="${motorRenderizado}">[motor_renderizado]</td>
        </tr>
        <tr>
            <td th:text="#{host}"></td>
            <td th:text="${nombreHost}">[nombre_host]</td>
        </tr>
        <tr>
            <td th:text="#{locale}"></td>
            <td th:text="${idioma}">[idioma]</td>
        </tr>
    </table>
</div>
</body>